<a href="https://colab.research.google.com/github/jfernandezp/EjemploDataScience/blob/main/Clase1_DD2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
1+1

2

In [1]:
#@title Texto de t√≠tulo predeterminado
print("hola mundo")

hola mundo

In [14]:
import time
start = time.time()
print ("process")
time_elapsed = time.time() - start
codigo = "1235642"
print("El tiempo de demora es " + str(time_elapsed) + " segundos")
print(f"El tiempo de demora es {time_elapsed} segundos")

process
El tiempo de demora es 0.00010967254638671875 segundos
El tiempo de demora es 0.00010967254638671875 segundos

In [8]:
for i in range(10):
  if(i%3 == 0):
    print(f"{i} es muliplo de 3")

0 es muliplo de 3
3 es muliplo de 3
6 es muliplo de 3
9 es muliplo de 3

In [19]:
r = range(10)
for i in filter(lambda x: x % 2 == 0, r):
  print(i)

0
2
4
6
8

In [6]:
for i in range(0,20, 3):
  if i%2 == 0:
    print(f"{i} es par")
  else:
    print(f"{i} es impar")

0 es par
3 es impar
6 es par
9 es impar
12 es par
15 es impar
18 es par

In [27]:
import pandas as pd

pddf = pd.DataFrame({'nombre' : ['Julio', 'Javier', 'Miluska', 'Deysi', 'Karla', 'Juan'], 
                    'nota': [16, 17, 20, 18, 14, 11]})

In [28]:
pddf

    nombre  nota
0    Julio    16
1   Javier    17
2  Miluska    20
3    Deysi    18
4    Karla    14
5     Juan    11

In [29]:
pddf['Col_new'] = [13, 45, 56, 23, 45, 87]
pddf

    nombre  nota  Col_new
0    Julio    16       13
1   Javier    17       45
2  Miluska    20       56
3    Deysi    18       23
4    Karla    14       45
5     Juan    11       87

In [30]:
pddf['col_new2'] = pddf['nota'] * 2
pddf

    nombre  nota  Col_new  col_new2
0    Julio    16       13        32
1   Javier    17       45        34
2  Miluska    20       56        40
3    Deysi    18       23        36
4    Karla    14       45        28
5     Juan    11       87        22

In [35]:
df = pddf.loc[pddf['nota']<=14, ['nombre','col_new2']]
df

  nombre  col_new2
4  Karla        28
5   Juan        22

In [40]:
df = pddf.loc[pddf['nota'] <= 16, ['col_new2']]
df

   col_new2
0        32
4        28
5        22